/* App.css */
.app {

  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-style: italic; /* Make font style italic */
}
h1 {
  font-size: 24px;
  color: #333;
}